@import 'themeColors';
@import 'mixins/linearGradient';
@import 'mixins/boxShadow';
$theme-font: verdana, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $theme-font;
  font-weight: normal;
  color: $themeColor-Dark;
}

#aquaman-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 5%;
  text-align: center;
  @include linearGradient($themeColor-Light, $themeColor-Mid);
}

#menu-header {
  width: 100%;
  height: 290px;
  background-image: url('../images/aquaman.png');
  background-position: center;
  background-repeat: no-repeat;
}

#menu-container {
  width: 100%;
  height: auto;
}

.menu-button {
  display: inline-block;
  width:75%;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 20px;
  font-size: 82px;
  height: 160px;
  cursor: pointer;
  outline: 0;
  text-align: left;
  color: $themeColor-Dark;
  @include boxShadow(4px, 4px, 4px, #666666);
  &.btn-default-feeding {
    background: $themeColor-ButtonBackgroundDefault url('../images/feeding-black.png') no-repeat 32px 16px;
  }
  &.btn-default-maintenance {
    background: $themeColor-ButtonBackgroundDefault url('../images/maintenance-black.png') no-repeat 32px 16px;
  }
  &.btn-active-feeding {
    font-weight: bold;
    background: $themeColor-Highlight url('../images/feeding-black.png') no-repeat 32px 16px;
  }
  &.btn-active-maintenance {
    font-weight: bold;
    background: $themeColor-Highlight url('../images/maintenance-black.png') no-repeat 32px 16px;
  }
  &.btn-inactive-feeding {
    color: $themeColor-Light;
    background: $themeColor-ButtonBackgroundDefault url('../images/feeding-white.png') no-repeat 32px 16px;
  }
  &.btn-inactive-maintenance {
    color: $themeColor-Light;
    background: $themeColor-ButtonBackgroundDefault url('../images/maintenance-white.png') no-repeat 32px 16px;
  }
  .caption {
    padding-left: 188px;
  }
}

.channel-container {
  width:75%;
  height: 160px;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.channel-button {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 0;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 0 40px;
  outline: 0;
  cursor: pointer;

  &.override {
    border: $themeColor-Highlight 8px solid;
  }

  &.light-on {
    background: $themeColor-Highlight url('../images/light-black.png') no-repeat center;
  }

  &.light-off {
    background: $themeColor-ButtonBackgroundDefault url('../images/light-black.png') no-repeat center;
  }

  &.filter-on {
    background: $themeColor-Highlight url('../images/filter-black.png') no-repeat center;
  }

  &.filter-off {
    background: $themeColor-ButtonBackgroundDefault url('../images/filter-black.png') no-repeat center;
  }

  &.co2-on {
    background: $themeColor-Highlight url('../images/co2-black.png') no-repeat center;
  }

  &.co2-off {
    background: $themeColor-ButtonBackgroundDefault url('../images/co2-black.png') no-repeat center;
  }
}