$themeColor-Light: #eeeeee;
$themeColor-Mid: #7aeef1;
$themeColor-Highlight: #e7b342;
$themeColor-Dark:#333333;
$themeColor-ButtonBackgroundDefault:#cfcfcf;
$themeColor-ButtonBorderActive:#53995d;
$themeColor-ButtonBackgroundInactive:#a1a1a1;
